// .backgroundImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// placeholder
%backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}