// OWL CAROUSEL
.owl-carousel {
    .owl-nav {
        button {
            &.owl-next,
            &.owl-prev {
                color: $color-blue-0;
                background-color: $color-white-0;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
                font-size: $fs-5;
                line-height: 44px;
                position: absolute;
                top: 30%;
                &:hover {
                    background-color: $color-white-0;
                    color: $color-blue-0;
                }
            }
            &.owl-prev {
                left: -30px;
            }
            &.owl-next {
                right: -30px;
            }
            span {
                margin-top: -3px;
                display: block;
            }
            &:focus {
                outline: none;
            }
        }
    }
}
