@font-face {
  src: url("./../fonts/helveticaneue.ttf");
  font-family: "helvetical"; }
@font-face {
  font-family: "helvetical-light";
  src: url("./../fonts/helveticaneuelight.ttf"); }
@font-face {
  font-family: "helvetical-bold";
  src: url("./../fonts/helveticaneuebold.ttf"); }
@font-face {
  font-family: "helvetical-medium";
  src: url("./../fonts/helveticaneuemedium.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #fff;
  color: #62646a;
  font-size: 16px;
  line-height: 24px;
  font-family: "helvetical"; }

.owl-carousel .item {
  cursor: pointer; }
  .owl-carousel .item .carousel-img img {
    transition: opacity .3s ease-in-out;
    width: 100%; }
  .owl-carousel .item .carousel-img:hover img {
    opacity: .85; }
  .owl-carousel .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    color: #fff; }
    .owl-carousel .item .overlay p {
      font-size: 14px;
      margin-bottom: 0; }
    .owl-carousel .item .overlay h3 {
      font-family: "helvetical-medium";
      font-size: 24px;
      line-height: 22px; }
.owl-carousel.owl-theme .owl-nav button {
  position: absolute;
  top: 40%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); }
  .owl-carousel.owl-theme .owl-nav button.owl-next {
    right: -30px; }
  .owl-carousel.owl-theme .owl-nav button.owl-prev {
    left: -30px; }
  .owl-carousel.owl-theme .owl-nav button span {
    font-family: monospace;
    font-size: 40px;
    line-height: 32px; }
  .owl-carousel.owl-theme .owl-nav button:hover {
    background-color: #fff;
    color: #62646a; }
  .owl-carousel.owl-theme .owl-nav button:focus {
    outline: none; }

.owl-carousel--card {
  margin: -18px; }
  .owl-carousel--card .owl-carousel.owl-theme .owl-nav button.owl-next {
    right: -12px; }
  .owl-carousel--card .owl-carousel.owl-theme .owl-nav button.owl-prev {
    left: -12px; }

.vbox-container {
  overflow-y: hidden; }

.vbox-content iframe.venoframe {
  border-radius: 5px;
  background: transparent !important; }

/* Navbar boostrap */
.navbar-light .navbar-toggler {
  border: none;
  padding-left: 0;
  margin-right: 4px; }
  .navbar-light .navbar-toggler i {
    font-size: 25px;
    color: #555; }
  .navbar-light .navbar-toggler:focus {
    outline: none; }

@media screen and (max-width: 1160px) {
  .navbar-expand-lg .navbar-toggler {
    display: inline-block; } }
.dropdown-li {
  position: relative; }
  .dropdown-li .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 10px;
    left: unset;
    margin-top: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #e4e5e7;
    padding: 16px 0;
    max-height: 314px;
    overflow: auto; }
    .dropdown-li .dropdown-menu .dropdown-item {
      font-size: 16px;
      color: #62646a;
      font-family: "helvetical";
      padding: 8px 64px 8px 16px; }
      .dropdown-li .dropdown-menu .dropdown-item:hover {
        background-color: #f5f5f5; }
    .dropdown-li .dropdown-menu .dropdown-item.active {
      background-color: transparent; }
      .dropdown-li .dropdown-menu .dropdown-item.active i {
        color: #62646a; }
    .dropdown-li .dropdown-menu i {
      color: transparent;
      font-size: 14px;
      transform: translateY(-1px);
      margin-right: 10px; }

.text--blue {
  color: #02c2a9 !important;
  font-family: "helvetical-medium" !important; }

.text--green {
  color: #1dbf73 !important;
  font-family: "helvetical-medium" !important; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  background-color: white;
  transition: 0.5s ease; }
  header .myNavBar {
    height: 80px; }
  header .myNavBar__left {
    align-items: center;
    flex-grow: 1; }
    header .myNavBar__left .navbar-brand {
      margin-top: -4px;
      margin-right: 30px; }
      header .myNavBar__left .navbar-brand svg path {
        transition: .2s ease; }
    header .myNavBar__left .myNavBar__form {
      width: 100%;
      position: relative;
      height: 34px; }
      header .myNavBar__left .myNavBar__form .input-group {
        width: 100%;
        height: 100%; }
      header .myNavBar__left .myNavBar__form .form-control {
        background-color: #fff;
        border: 1px solid #dadbdd;
        border-right-color: transparent;
        border-radius: 3px 0 0 3px;
        font-size: 15px;
        padding: 7px 7px 8px 28px;
        height: 100%;
        transition: 0.15s ease-in-out;
        color: #404145;
        letter-spacing: 1px; }
        header .myNavBar__left .myNavBar__form .form-control:focus {
          box-shadow: none;
          border-color: #95979d;
          border-right-color: transparent; }
        header .myNavBar__left .myNavBar__form .form-control:hover {
          border-color: #95979d;
          border-right-color: transparent; }
      header .myNavBar__left .myNavBar__form .icon-search {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        top: 2px;
        left: 8px;
        z-index: 6; }
        header .myNavBar__left .myNavBar__form .icon-search svg path {
          fill: #95979d; }
      header .myNavBar__left .myNavBar__form .button--green {
        line-height: 100%;
        border-radius: 0 3px 3px 0; }
  header .myNavBar__right {
    margin-left: 16px;
    flex-grow: 4;
    font-family: "helvetical-bold"; }
    header .myNavBar__right .nav-item {
      padding: 0 10px;
      white-space: nowrap; }
      header .myNavBar__right .nav-item:last-child {
        padding-right: 0; }
      header .myNavBar__right .nav-item .nav-link {
        padding: 0;
        color: #62646a;
        transition: color .2s; }
        header .myNavBar__right .nav-item .nav-link:hover {
          color: #1dbf73; }
          header .myNavBar__right .nav-item .nav-link:hover svg path {
            fill: #1dbf73; }
        header .myNavBar__right .nav-item .nav-link svg {
          width: 16px;
          height: 16px;
          margin-right: 2px; }
          header .myNavBar__right .nav-item .nav-link svg path {
            transition: .2s;
            fill: #62646a; }
  header .header__bottom {
    position: fixed;
    z-index: 15;
    background-color: #fff;
    border-top: 1px solid #dadbdd;
    border-bottom: 1px solid #dadbdd;
    width: 100%;
    padding: 0 30px;
    transform: rotateX(90deg);
    transform-origin: 50% 50%;
    opacity: 0;
    visibility: hidden; }
    header .header__bottom > ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      min-width: 1223px;
      justify-content: space-between;
      position: relative;
      left: 0;
      transition: left 0.2s; }
      header .header__bottom > ul li {
        list-style: none;
        display: block;
        position: relative; }
        header .header__bottom > ul li a {
          display: block;
          color: #7a7d85;
          text-decoration: none;
          padding: 9px 0 5px;
          border-bottom: 3px solid transparent;
          font-family: "helvetical-medium";
          font-size: 16px; }
          header .header__bottom > ul li a:hover {
            color: #7a7d85;
            border-color: #1dbf73; }
          header .header__bottom > ul li a span {
            color: #ff62ad;
            font-size: 11px;
            text-transform: uppercase;
            display: inline-block;
            padding: 0 6px;
            line-height: 150%;
            border: 1px solid #ff62ad;
            border-radius: 10px;
            margin-left: 2px; }
        header .header__bottom > ul li.active a {
          color: #62646a; }
    header .header__bottom > ul li .header__bottom__dropdown {
      position: absolute;
      top: 100%;
      right: -16px;
      background-color: #fff;
      column-count: 2;
      column-gap: 72px;
      padding: 20px 32px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid #e4e5e7;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s; }
      header .header__bottom > ul li .header__bottom__dropdown a:hover {
        color: #95979d;
        border-color: transparent; }
      header .header__bottom > ul li .header__bottom__dropdown li {
        width: 250px; }
    header .header__bottom > ul > li:hover .header__bottom__dropdown {
      visibility: visible;
      opacity: 1; }
    header .header__bottom.header__bottom-visible {
      animation: 0.3s rotateDiv forwards; }
    header .header__bottom button {
      position: absolute;
      top: 0;
      height: 100%;
      border: none;
      padding: 0 30px;
      color: #95979d;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      visibility: hidden;
      opacity: 0; }
      header .header__bottom button.button-prev {
        left: 0;
        background: linear-gradient(to right, #fff 70%, transparent 100%); }
      header .header__bottom button.button-next {
        right: 0;
        background: linear-gradient(to left, #fff 70%, transparent 100%); }
      header .header__bottom button.active {
        visibility: visible;
        opacity: 1; }
  header #dropdown-menu-explore {
    position: relative; }
    header #dropdown-menu-explore > div {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 490px;
      padding: 20px;
      transform: translate(-50%, 20px);
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid #e4e5e7; }
      header #dropdown-menu-explore > div::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        margin-top: -4px;
        border-top: 1px solid #e4e5e7;
        border-left: 1px solid #e4e5e7; }
      header #dropdown-menu-explore > div ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap; }
        header #dropdown-menu-explore > div ul li {
          width: 50%;
          padding-right: 16px; }
          header #dropdown-menu-explore > div ul li a {
            font-size: 16px;
            font-family: "helvetical-light"; }
          header #dropdown-menu-explore > div ul li a:hover {
            text-decoration: none; }
            header #dropdown-menu-explore > div ul li a:hover div, header #dropdown-menu-explore > div ul li a:hover p {
              color: #1dbf73; }
          header #dropdown-menu-explore > div ul li div {
            color: #62646a;
            font-size: 17px; }
          header #dropdown-menu-explore > div ul li p {
            white-space: pre-wrap;
            color: #b5b6ba; }
        header #dropdown-menu-explore > div ul li:nth-child(2n + 2) {
          padding-right: 0;
          padding-left: 16px; }
  @media screen and (min-width: 600.02px) {
    header.header--bgTransparent {
      background-color: transparent; }
      header.header--bgTransparent .myNavBar__left .navbar-brand svg g:first-child path {
        fill: #fff; }
      header.header--bgTransparent .myNavBar__left .navbar-toggler i {
        color: #fff; }
      header.header--bgTransparent .myNavBar__right .nav-item .nav-link {
        color: #fff; }
        header.header--bgTransparent .myNavBar__right .nav-item .nav-link svg path {
          fill: #fff; }
      header.header--bgTransparent .myNavBar__right .button--white {
        border-color: #fff;
        color: white; }
        header.header--bgTransparent .myNavBar__right .button--white:hover {
          border-color: #19a463; }
    header.header--formHidden .myNavBar__form {
      display: none; } }
  @media screen and (max-width: 1160px) {
    header .myNavBar__left .myNavBar__form .input-group input {
      border: 1px solid #dadbdd;
      border-radius: 3px; }
      header .myNavBar__left .myNavBar__form .input-group input:focus {
        border: 1px solid #95979d; }
    header .myNavBar__left .myNavBar__form .input-group-append {
      display: none; }
    header .myNavBar__right .nav-item.myNavBar__english, header .myNavBar__right .nav-item.myNavBar__money {
      display: none; } }
  @media screen and (max-width: 900px) {
    header .myNavBar__right .nav-item {
      display: none; }
      header .myNavBar__right .nav-item.myNavBar__signIn, header .myNavBar__right .nav-item.myNavBar__join {
        display: inline-block; } }
  @media screen and (max-width: 600px) {
    header {
      position: static; }
      header .myNavBar__left .myNavBar__form {
        display: none; }
      header .myNavBar__left .navbar-brand {
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateX(-17px); }
      header .myNavBar__left .navbar-toggler {
        position: relative;
        z-index: 16; }
      header .myNavBar__right .nav-item.myNavBar__signIn {
        display: none; }
      header .myNavBar__right .button--white {
        border: none;
        background-color: transparent;
        color: #62646a;
        font-size: 16px;
        font-family: "helvetical-medium";
        padding: 0; }
        header .myNavBar__right .button--white:hover {
          background-color: transparent;
          color: #95979d; }
      header .header__bottom {
        display: none; } }
@keyframes rotateDiv {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: rotateX(0);
    opacity: 1;
    visibility: visible; } }
.myCarousel {
  height: 680px; }
  .myCarousel .myCarousel__img {
    width: 100%;
    height: 111%;
    object-fit: cover;
    object-position: center; }
  .myCarousel .carousel-caption {
    right: 40px;
    bottom: 35px; }
    .myCarousel .carousel-caption .myCarousel__item {
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 0; }
      .myCarousel .carousel-caption .myCarousel__item .myCarousel__name {
        font-family: "helvetical-light";
        letter-spacing: 1px; }
      .myCarousel .carousel-caption .myCarousel__item .myCarousel__job {
        font-family: "helvetical-medium";
        letter-spacing: 1px; }
      .myCarousel .carousel-caption .myCarousel__item.myCarousel__stars::before {
        content: "";
        display: block;
        height: 16px;
        background-image: url("./../images/five_stars.svg");
        background-repeat: no-repeat; }
  .myCarousel .myCarousel__form-find {
    position: absolute;
    top: 50%;
    left: 0;
    width: 660px;
    z-index: 2;
    transform: translateY(-50%);
    padding-left: 30px; }
    .myCarousel .myCarousel__form-find h1 {
      color: #fff;
      font-size: 50px;
      font-family: "helvetical-medium";
      line-height: 56px;
      padding-bottom: 20px; }
      .myCarousel .myCarousel__form-find h1 span {
        font-family: "Bodoni Moda", serif;
        font-size: 55px;
        letter-spacing: -1px;
        padding-left: 8px; }
    .myCarousel .myCarousel__form-find .myCarousel__form {
      width: 100%;
      position: relative;
      height: 48px; }
      .myCarousel .myCarousel__form-find .myCarousel__form .input-group {
        width: 100%;
        height: 100%; }
      .myCarousel .myCarousel__form-find .myCarousel__form .form-control {
        background-color: #fff;
        border: 1px solid #dadbdd;
        border-right-color: transparent;
        border-radius: 3px 0 0 3px;
        font-size: 18px;
        padding: 7px 7px 8px 43px;
        height: 100%;
        transition: 0.15s ease-in-out;
        color: #404145;
        letter-spacing: 0; }
        .myCarousel .myCarousel__form-find .myCarousel__form .form-control:focus {
          box-shadow: none;
          border-color: #95979d;
          border-right-color: transparent; }
        .myCarousel .myCarousel__form-find .myCarousel__form .form-control:hover {
          border-color: #95979d;
          border-right-color: transparent; }
      .myCarousel .myCarousel__form-find .myCarousel__form .icon-search {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        top: 9px;
        left: 15px;
        z-index: 6; }
        .myCarousel .myCarousel__form-find .myCarousel__form .icon-search svg path {
          fill: #95979d; }
      .myCarousel .myCarousel__form-find .myCarousel__form .button--green {
        line-height: 100%;
        border-radius: 0 3px 3px 0; }
      .myCarousel .myCarousel__form-find .myCarousel__form .button--green {
        font-size: 16px;
        padding: 16px 25px; }
    .myCarousel .myCarousel__form-find .input-group-append {
      border: 2px solid transparent;
      box-sizing: border-box;
      margin-top: -2px;
      margin-left: -3px; }
    .myCarousel .myCarousel__form-find .myCarousel__tagged {
      padding-top: 24px;
      color: #fff; }
      .myCarousel .myCarousel__form-find .myCarousel__tagged span {
        margin-right: 8px; }
      .myCarousel .myCarousel__form-find .myCarousel__tagged .button--tagged {
        margin-right: 8px; }
  @media screen and (max-width: 1160px) {
    .myCarousel .myCarousel__form-find {
      max-width: 590px; }
      .myCarousel .myCarousel__form-find h1 {
        font-size: 40px;
        line-height: 48px; }
        .myCarousel .myCarousel__form-find h1 span {
          font-size: 45px;
          padding-left: 5px; }
      .myCarousel .myCarousel__form-find .myCarousel__tagged {
        white-space: nowrap; } }
  @media screen and (max-width: 900px) {
    .myCarousel {
      background: #023a15;
      height: auto; }
      .myCarousel .carousel-inner {
        display: none; }
      .myCarousel .myCarousel__form-find {
        position: unset;
        transform: unset;
        max-width: unset;
        width: 100%;
        padding: 96px 94px 145px; }
        .myCarousel .myCarousel__form-find h1 {
          font-size: 45px;
          line-height: 52px; }
        .myCarousel .myCarousel__form-find .myCarousel__tagged {
          display: none; }
      .myCarousel .myCarousel__form .input-group {
        display: block; }
        .myCarousel .myCarousel__form .input-group .form-control {
          width: 100%;
          border-radius: 4px;
          border-color: #dadbdd; }
          .myCarousel .myCarousel__form .input-group .form-control .input-group-append {
            margin-left: -2px; }
        .myCarousel .myCarousel__form .input-group .button--green {
          margin-top: 12px;
          width: 100%;
          border-radius: 4px;
          text-align: center;
          padding-bottom: 18px; } }
  @media screen and (max-width: 600px) {
    .myCarousel .myCarousel__form-find {
      padding: 49px 24px 101px; }
      .myCarousel .myCarousel__form-find h1 {
        font-size: 32px;
        line-height: 40px; }
        .myCarousel .myCarousel__form-find h1 span {
          font-size: 37px; } }

.partners {
  background-color: #fafafa; }
  .partners .partners__content {
    width: 850px;
    height: 95px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .partners .partners__content span {
      flex-grow: 2; }
    .partners .partners__content .partners__title {
      flex-grow: 1;
      color: #b5b6ba;
      font-family: "helvetical-bold"; }
  @media screen and (max-width: 1160px) {
    .partners .partners__content {
      width: 720px; }
      .partners .partners__content .partners__title {
        display: none; } }
  @media screen and (max-width: 900px) {
    .partners .partners__content {
      width: unset;
      max-width: 460px;
      height: 70px;
      justify-content: center; }
      .partners .partners__content span {
        padding: 0 12px; }
      .partners .partners__content img {
        max-width: 100%; } }
  @media screen and (max-width: 600px) {
    .partners .partners__content {
      max-width: 320px; }
      .partners .partners__content span {
        padding: 0 8px; }
        .partners .partners__content span.partners__paypal {
          display: none; } }

.services .services__content h2 {
  color: #404145;
  font-size: 30px;
  font-family: "helvetical-bold";
  padding-bottom: 20px; }

.info {
  background-color: #F1FDF7; }
  .info .info__content .info__left {
    padding-right: 9vw; }
    .info .info__content .info__left .info__items {
      margin-bottom: 24px; }
      .info .info__content .info__left .info__items h3 {
        color: #404145;
        font-size: 18px;
        font-family: "helvetical-bold"; }
        .info .info__content .info__left .info__items h3 i {
          display: inline-block;
          color: #7a7d85;
          border: 2px solid #7a7d85;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          font-size: 12px;
          text-align: center;
          line-height: 21px;
          margin-right: 8px;
          margin-top: -2px; }
      .info .info__content .info__left .info__items p {
        font-size: 18px;
        line-height: 26px; }
  .info .info__content .info__right {
    padding-left: 0; }
    .info .info__content .info__right .info__video {
      position: relative; }
  @media screen and (max-width: 1160px) {
    .info .info__content .info__left {
      padding-right: 86px; } }
  @media screen and (max-width: 991.98px) {
    .info .info__content .info__left {
      padding-right: 0;
      padding-bottom: 20px; }
    .info .info__content .info__right {
      padding-left: 15px; }
      .info .info__content .info__right img {
        width: 100%; } }

.explore .title {
  padding-bottom: 40px; }
.explore .explore__content {
  display: flex;
  flex-wrap: wrap; }
  .explore .explore__content .explore__items {
    width: 20%;
    padding: 0 10px 28px;
    text-align: center;
    font-family: "helvetical-medium"; }
    .explore .explore__content .explore__items a {
      display: inline-block;
      color: #222325;
      position: relative; }
      .explore .explore__content .explore__items a:hover {
        text-decoration: none; }
      .explore .explore__content .explore__items a::after {
        content: '';
        display: inline-block;
        height: 2px;
        background-color: #c5c6c9;
        position: absolute;
        top: 53px;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        transition: .3s; }
      .explore .explore__content .explore__items a:hover::after {
        background-color: #1dbf73;
        width: 78px; }
    .explore .explore__content .explore__items img {
      width: 48px;
      height: 48px;
      margin: 0 auto 15px; }
@media screen and (max-width: 900px) {
  .explore .explore__content .explore__items {
    width: 33.33%; } }
@media screen and (max-width: 600px) {
  .explore .explore__content .explore__items {
    width: 50%;
    padding-bottom: 0; } }

.solution {
  background-color: #0d084d;
  color: #fff; }
  .solution .solution__logo {
    padding-bottom: 32px; }
    .solution .solution__logo span:first-child {
      margin-right: 8px; }
      .solution .solution__logo span:first-child svg {
        width: 180px; }
    .solution .solution__logo span:last-child {
      display: inline-block;
      padding: 3px 7px 4px;
      background-color: #584aff;
      border-radius: 9px;
      line-height: 100%;
      text-transform: uppercase;
      color: #fff;
      font-size: 10px;
      font-family: "helvetical-medium"; }
  .solution h2.title {
    color: #fff;
    max-width: 450px; }
  .solution .detail {
    max-width: 450px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 32px; }
  .solution .solution__content {
    max-width: 500px; }
    .solution .solution__content i {
      float: left;
      display: inline-block;
      color: #7a7d85;
      border: 2px solid #7a7d85;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      font-size: 12px;
      text-align: center;
      line-height: 21px;
      margin-right: 10px;
      margin-top: 2px; }
    .solution .solution__content p {
      font-size: 17px;
      overflow: hidden; }
  .solution .solution__left {
    padding-right: 64px; }
  @media screen and (max-width: 991.98px) {
    .solution .solution__left {
      padding-right: 0;
      padding-bottom: 55px; }
    .solution h2.title, .solution .detail, .solution .solution__content {
      max-width: unset; } }
  @media screen and (max-width: 600px) {
    .solution .solution__left {
      padding-bottom: 36px; } }

.feedback .feedback__left img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }
.feedback .feedback__right {
  max-width: 765px;
  padding: 0 48px 0 55px; }
  .feedback .feedback__right .feedback__name {
    display: flex;
    align-items: center;
    margin-bottom: 16px; }
    .feedback .feedback__right .feedback__name h5 {
      color: #7a7d85;
      font-size: 20px;
      border-right: 1px solid #7a7d85;
      padding-right: 16px;
      margin-right: 13px; }
    .feedback .feedback__right .feedback__name img {
      height: 36px;
      width: auto;
      transform: translateY(-2px); }
  .feedback .feedback__right blockquote {
    font-family: "Bodoni Moda", serif;
    color: #003912;
    font-size: 30px;
    line-height: 44px;
    font-weight: 600; }
@media screen and (max-width: 1160px) {
  .feedback .feedback__right {
    padding-left: 20px;
    padding-right: 20px; }
    .feedback .feedback__right .feedback__name {
      display: block; }
      .feedback .feedback__right .feedback__name h5 {
        border: none;
        margin-bottom: 8px; }
      .feedback .feedback__right .feedback__name img {
        margin-left: -4px; }
    .feedback .feedback__right blockquote {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 1px; } }
@media screen and (max-width: 991.98px) {
  .feedback .feedback__right {
    max-width: 100%;
    margin-top: 30px; } }

.banner .banner__content {
  position: relative;
  background-color: #4a73e8;
  overflow: hidden; }
.banner .banner__img {
  position: absolute;
  top: -38px;
  width: 100%;
  height: 100%;
  right: 0; }
  .banner .banner__img img {
    width: 100%; }
    .banner .banner__img img.banner__logoDesktop {
      display: inline-block; }
    .banner .banner__img img.banner__logoTablet {
      display: none; }
    .banner .banner__img img.banner__logoMobile {
      display: none; }
.banner .banner__left {
  padding: 36px 0 36px 72px;
  max-width: 495px;
  position: relative;
  z-index: 1; }
  .banner .banner__left .banner__logo {
    padding-bottom: 16px; }
    .banner .banner__left .banner__logo span:last-child {
      display: inline-block;
      transform: translateY(-2px);
      margin-left: 12px;
      color: #fff;
      font-size: 11px;
      font-family: "helvetical-medium"; }
  .banner .banner__left h2.title {
    color: #fff;
    margin-bottom: 8px; }
  .banner .banner__left p {
    color: #fff;
    margin-bottom: 0;
    font-family: "helvetical-medium";
    font-size: 17px; }
  .banner .banner__left .button--green {
    margin-top: 28px;
    background-color: #fff;
    color: #4a73e8; }
    .banner .banner__left .button--green:hover {
      background-color: #d4defb; }
@media screen and (max-width: 1199.98px) {
  .banner .banner__content {
    overflow: visible; }
  .banner .banner__img {
    top: 0; }
    .banner .banner__img img {
      height: 100%;
      object-fit: cover; } }
@media screen and (max-width: 900px) {
  .banner .banner__content {
    height: auto; }
  .banner .banner__img {
    position: static;
    height: auto;
    margin-top: -30%; }
    .banner .banner__img img {
      height: auto; }
      .banner .banner__img img.banner__logoDesktop {
        display: none; }
      .banner .banner__img img.banner__logoTablet {
        display: inline-block; }
      .banner .banner__img img.banner__logoMobile {
        display: none; }
  .banner .banner__left {
    padding-left: 36px;
    max-width: 450px; } }
@media screen and (max-width: 600px) {
  .banner .banner__img {
    margin-top: -45%; }
    .banner .banner__img img.banner__logoDesktop {
      display: none; }
    .banner .banner__img img.banner__logoTablet {
      display: none; }
    .banner .banner__img img.banner__logoMobile {
      display: inline-block; }
  .banner .banner__left {
    padding-right: 36px; } }

.projects {
  background-color: #f5f5f5; }

.guides .widget__top {
  padding-bottom: 2px; }
.guides .guides__content img {
  margin-bottom: 16px; }
.guides .guides__content a {
  text-decoration: none;
  display: block; }
  .guides .guides__content a.guides__title {
    color: #404145;
    font-size: 18px;
    font-family: "helvetical-bold";
    padding-bottom: 6px; }
  .guides .guides__content a.guides__text {
    color: #7a7d85; }
@media screen and (max-width: 991.98px) {
  .guides .guides__content .guides__items {
    margin-bottom: 30px; }
  .guides .seeMoreTablet {
    margin-top: 0;
    margin-bottom: 35px;
    transform: translateY(-2px); } }

.signUp {
  margin: 0 33px;
  background: url("./../images/bg-signup.png") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 96px; }
  .signUp .signUp__content {
    max-width: 650px;
    padding: 24px 96px;
    box-sizing: content-box; }
    .signUp .signUp__content h2.title {
      color: #fff;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 0; }
  @media screen and (max-width: 1160px) {
    .signUp {
      background-position: initial; }
      .signUp .signUp__content {
        padding: 24px 10px; }
        .signUp .signUp__content h2.title {
          font-size: 40px;
          line-height: 48px; } }
  @media screen and (max-width: 900px) {
    .signUp {
      background: #45091b; } }
  @media screen and (max-width: 600px) {
    .signUp .signUp__content {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px; }
      .signUp .signUp__content h2.title {
        font-size: 32px;
        line-height: 40px; } }

footer {
  border-top: 1px solid #e4e5e7; }
  footer.section {
    padding-top: 64px;
    padding-bottom: 24px; }
  footer .footer__top {
    display: flex;
    border-bottom: 1px solid #e4e5e7;
    padding-bottom: 10px;
    margin-bottom: 8px; }
    footer .footer__top .footer__items {
      width: 25%; }
      footer .footer__top .footer__items h2 {
        color: #404145;
        font-size: 16px;
        font-family: "helvetical-bold";
        padding-bottom: 20px;
        margin-bottom: 0; }
        footer .footer__top .footer__items h2 i {
          display: none; }
      footer .footer__top .footer__items ul li {
        list-style: none;
        padding-bottom: 16px; }
      footer .footer__top .footer__items a {
        color: #7a7d85;
        transition: text-decoration 2s;
        font-size: 17px; }
        footer .footer__top .footer__items a span {
          display: block;
          color: #b5b6ba;
          font-size: 15px; }
  footer .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer .footer__bottom .footer__left {
      padding-top: 8px; }
      footer .footer__bottom .footer__left .footer__copyright {
        margin-left: 20px;
        line-height: 24px;
        color: #b5b6ba;
        font-size: 14px;
        font-family: "helvetical-medium";
        display: inline-block;
        transform: translateY(3px); }
    footer .footer__bottom .footer__right {
      margin-left: -15px;
      display: flex;
      padding-top: 16px; }
      footer .footer__bottom .footer__right a {
        color: #7a7d85;
        text-decoration: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 8px;
        border-radius: 50%;
        box-sizing: content-box;
        text-align: center;
        transition: 0.2s; }
        footer .footer__bottom .footer__right a:hover {
          background-color: #efeff0; }
      footer .footer__bottom .footer__right .footer__svg a {
        width: auto; }
        footer .footer__bottom .footer__right .footer__svg a svg circle {
          transition: 0.2s; }
        footer .footer__bottom .footer__right .footer__svg a svg path {
          fill: #7a7d85;
          transition: 0.2s; }
        footer .footer__bottom .footer__right .footer__svg a:hover svg path {
          fill: #404145; }
        footer .footer__bottom .footer__right .footer__svg a:hover circle {
          stroke: #efeff0;
          fill: #efeff0; }
      footer .footer__bottom .footer__right .footer--button {
        white-space: nowrap; }
        footer .footer__bottom .footer__right .footer--button a {
          font-size: 14px;
          font-family: "helvetical-medium";
          width: auto;
          padding: 6px 12px;
          border-radius: 54px;
          margin-right: 9px; }
          footer .footer__bottom .footer__right .footer--button a:hover {
            color: #404145; }
      footer .footer__bottom .footer__right .footer--people a {
        background-color: transparent;
        padding: 2px; }
    footer .footer__bottom ul {
      display: flex;
      align-items: center;
      width: 240px;
      justify-content: space-around;
      font-size: 21px;
      margin-right: 23px;
      margin-bottom: 0; }
      footer .footer__bottom ul li {
        list-style: none; }
    footer .footer__bottom .footer__buttons {
      display: flex; }
  @media screen and (max-width: 900px) {
    footer .footer__top {
      flex-wrap: wrap; }
      footer .footer__top .footer__items {
        width: 33.33%;
        margin-bottom: 12px; } }
  @media screen and (max-width: 600px) {
    footer.section {
      padding-top: 28px; }
    footer .footer__top {
      flex-direction: column; }
      footer .footer__top .footer__items {
        width: 100%;
        margin-bottom: 0; }
        footer .footer__top .footer__items h2 {
          position: relative;
          cursor: pointer; }
          footer .footer__top .footer__items h2 i {
            display: inline-block;
            position: absolute;
            right: 0;
            transition: 0.5s ease-in-out; }
          footer .footer__top .footer__items h2.active i {
            transform: rotate(-180deg); }
          footer .footer__top .footer__items h2.active + ul {
            max-height: 1000px; }
        footer .footer__top .footer__items ul {
          margin-bottom: 0;
          overflow-y: hidden;
          max-height: 0;
          transition: 0.5s ease-in-out; }
    footer .footer__bottom {
      margin-top: 20px;
      flex-direction: column;
      text-align: center; }
      footer .footer__bottom .footer__left .footer__copyright {
        display: block;
        margin-left: 0;
        margin-top: 10px; }
      footer .footer__bottom .footer__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px; }
      footer .footer__bottom ul {
        margin-right: 0;
        margin-bottom: 8px; } }

#sidebarMenu {
  width: 272px;
  position: fixed;
  top: 0;
  left: -272px;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
  #sidebarMenu.active {
    left: 0; }

.overlaySideBar {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out; }
  .overlaySideBar.active {
    display: block;
    opacity: 1; }

#sidebarMenu a {
  color: #95979d;
  text-decoration: none;
  font-family: "helvetical";
  padding: 8px 20px;
  display: block; }
#sidebarMenu > a:nth-child(2):hover {
  color: #62646a; }
#sidebarMenu .slidebar__item-level-1, #sidebarMenu .slidebar__item-level-2 {
  padding-top: 8px; }
  #sidebarMenu .slidebar__item-level-1 > a, #sidebarMenu .slidebar__item-level-2 > a {
    padding: 0;
    margin-bottom: 8px; }
  #sidebarMenu .slidebar__item-level-1 span, #sidebarMenu .slidebar__item-level-2 span {
    padding: 0 20px;
    flex-grow: 1; }
  #sidebarMenu .slidebar__item-level-1 i, #sidebarMenu .slidebar__item-level-2 i {
    padding: 0 20px;
    transition: transform 0.2s; }
  #sidebarMenu .slidebar__item-level-1 > div, #sidebarMenu .slidebar__item-level-2 > div {
    margin-left: 16px; }
#sidebarMenu .collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center; }
#sidebarMenu .collapse-arrow-rotate i.fa-angle-down {
  transform: rotate(-180deg); }
#sidebarMenu h5 {
  color: #404145;
  padding: 28px 20px 0;
  margin-bottom: 0; }
#sidebarMenu hr {
  margin-bottom: 8px;
  margin-left: 20px;
  margin-right: 20px; }
#sidebarMenu .sidebarMenu__button {
  padding: 20px 20px 0; }
  #sidebarMenu .sidebarMenu__button .button--green {
    font-size: 16px;
    padding: 8px 28px; }
    #sidebarMenu .sidebarMenu__button .button--green:hover {
      color: #fff; }
#sidebarMenu .sliderbar__item-title {
  flex-grow: 1;
  margin-bottom: 0;
  padding-left: 20px; }
#sidebarMenu .collapse--general a {
  padding-left: 6px; }
  #sidebarMenu .collapse--general a i {
    padding-left: 0;
    padding-right: 12px;
    font-size: 14px;
    opacity: 0; }
  #sidebarMenu .collapse--general a.active i {
    opacity: 1; }

.modal {
  padding-right: 0 !important; }
  .modal .modal-dialog {
    max-width: 430px;
    top: 50%;
    transform: translateY(-50%) !important;
    margin: auto; }
  .modal .modal-content {
    padding: 0;
    border: none; }
  .modal .modal-header {
    border: none;
    align-items: center; }
  .modal .modal-title {
    color: #404145;
    font-family: "helvetical-bold";
    font-size: 20px;
    padding: 12px 20px; }
  .modal .close {
    padding-right: 36px; }
  .modal .modal-body {
    padding: 0 0 20px;
    max-height: 430px;
    overflow-y: auto; }
    .modal .modal-body a {
      display: block;
      color: #62646a;
      text-decoration: none;
      padding: 8px 38px;
      font-size: 17px; }
      .modal .modal-body a i {
        opacity: 0;
        margin-right: 14px;
        font-size: 13px; }
    .modal .modal-body a.active i {
      opacity: 1; }
    .modal .modal-body a:hover {
      background-color: #f5f5f5; }
  @media screen and (max-width: 600px) {
    .modal .modal-dialog {
      max-width: 100%;
      height: 100%;
      background-color: #fff; } }

.section {
  padding: 96px 30px; }
  @media screen and (max-width: 1160px) {
    .section {
      padding: 48px 30px; } }

.button--green {
  display: inline-block;
  background-color: #1dbf73;
  color: #fff;
  padding: 10px 16px;
  font-family: "helvetical-bold";
  font-size: 14px;
  transition: 0.15s ease-in-out;
  cursor: pointer; }
  .button--green:hover {
    background-color: #19a463; }

.button--section {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 9px 25px 10px;
  font-size: 16px;
  margin-top: 40px; }

.button--white {
  background-color: transparent;
  border: 1px solid #1dbf73;
  color: #1dbf73;
  padding: 6px 20px 8px;
  line-height: 100%;
  font-family: "helvetical-bold";
  font-size: 14px;
  transition: 0.2s ease;
  border-radius: 4px; }
  .button--white:hover {
    background-color: #19a463;
    color: #fff;
    border-color: #19a463; }
  .button--white:focus {
    outline: none; }

.button--tagged {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 12px 6px;
  line-height: 24px;
  font-family: "helvetical-medium";
  font-size: 14px;
  transition: 0.2s ease;
  border-radius: 40px; }
  .button--tagged:hover {
    background-color: #fff;
    color: #404145;
    text-decoration: none; }
  .button--tagged:focus {
    outline: none; }

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(12, 23, 24, 0.5);
  color: white; }
  .button-play i {
    font-size: 30px;
    line-height: 80px;
    margin-left: 2px; }

h2.title {
  color: #404145;
  font-size: 32px;
  font-family: "helvetical-bold";
  line-height: 120%;
  letter-spacing: 1px;
  margin-bottom: 24px; }
  h2.title span {
    font-family: "Bodoni Moda", serif;
    font-weight: 700; }

.card {
  border: none;
  padding: 0 18px 8px;
  background: transparent; }
  .card > div {
    box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(56, 29, 29, 0.09); }
  .card .card-img-top {
    height: 237px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
    cursor: pointer; }
    .card .card-img-top:hover {
      opacity: 0.85; }
  .card .card-body {
    display: flex;
    padding: 16px 0 12px 16px; }
    .card .card-body img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer; }
    .card .card-body .card--text {
      padding-left: 12px; }
      .card .card-body .card--text h3 {
        color: #404145;
        font-size: 14px;
        font-family: "helvetical-bold";
        line-height: 110%;
        margin-bottom: 8px;
        cursor: pointer; }
      .card .card-body .card--text p {
        color: #95979d;
        font-size: 14px;
        font-family: "helvetical-medium";
        margin-bottom: 0;
        line-height: 100%;
        cursor: pointer; }

.widget__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px; }
  .widget__top a {
    white-space: nowrap;
    text-decoration: none;
    color: #4a73e8;
    font-size: 17px;
    transform: translateY(12px); }
    .widget__top a i {
      font-size: 14px;
      margin-left: 6px; }

a.seeMoreTablet {
  margin-top: 8px;
  text-decoration: none;
  color: #4a73e8;
  font-size: 17px;
  transform: translateY(12px); }
  a.seeMoreTablet i {
    font-size: 14px;
    margin-left: 6px; }

.seeMoreDesktop {
  display: inline-block; }

.seeMoreTablet {
  display: none; }

@media screen and (max-width: 900px) {
  .seeMoreDesktop {
    display: none; }

  .seeMoreTablet {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */
