@mixin styleForm($font-size: $fs-0 - 1, $letter-spacing: 1px, $height: 34px, $top: 2px, $left: 8px, $pd-left: $pd-1) {
    width: 100%;
    position: relative;
    height: $height;
    .input-group {
        width: 100%;
        height: 100%;
    }
    .form-control {
        background-color: $color-white-light;;
        border: 1px solid $color-gray-0;
        border-right-color: transparent;
        border-radius: $border-radius-0 0 0 $border-radius-0;
        font-size: $font-size;
        padding: $pd-0 - 1 $pd-0 - 1 $pd-0 $pd-left;
        height: 100%;
        transition: 0.15s ease-in-out;
        color: $color-gray-2;
        letter-spacing: $letter-spacing;
        &:focus {
            box-shadow: none;
            border-color: $color-gray-1;
            border-right-color: transparent;
        }
        &:hover {
            border-color: $color-gray-1;
            border-right-color: transparent;
        }
    }
    .icon-search {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        top: $top;
        left: $left;
        z-index: 6;
        svg {
            path {
                fill: $color-gray-1;
            }
        }
    }
    .button--green {
        line-height: 100%;
        border-radius: 0 $border-radius-0 $border-radius-0 0;
    }
}

@mixin styleText($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

@mixin responsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "`{$screen}` isn't valid";
    }
}

@mixin arrowUp($width: 10px) {
    border: $width solid transparent;
    border-bottom-color: $color-white-light;
}