// Color
$color-white-light: #fff;
$color-gray-default: #62646a;
$color-gray-0: #dadbdd;
$color-gray-1: #95979d;
$color-gray-2: #404145;
$color-gray-3: #fafafa;
$color-gray-4: #b5b6ba;
$color-gray-5: rgba(0,0,0,0.15);
$color-gray-6: rgba(12, 23, 24, 0.5);
$color-gray-7: rgb(122, 125, 133);
$color-gray-8: #222325;
$color-gray-9: #7a7d85;
$color-gray-10: #f5f5f5;
$color-gray-11: #e4e5e7;
$color-gray-12: #efeff0;
$color-gray-13: #555;
$color-green-0: #1dbf73;
$color-green-1: #19a463;
$color-green-3: #F1FDF7;
$color-green-4: #003912;
$color-green-5: #023a15;
$color-blue-0: #0d084d;
$color-blue-1: #584aff;
$color-blue-2: #4a73e8;
$color-blue-3: #d4defb;
$color-blue-4: #02c2a9;
$color-shadow-0: rgba(0,0,0,0.03);
$color-shadow-1: rgba(0,0,0,0.05);
$color-shadow-2: rgba(56, 29, 29, 0.09);
$color-brown-0: #45091b;
$color-pink: #ff62ad;


// font-size
$fs-0: 16px;
$fs-1: 50px;
$fs-2: 18px;
$fs-3: 24px;
$fs-4: 40px;
$fs-5: 30px;
$fs-6: 10px;

// font-weight

// font-family
$font-light: "helvetical-light";
$font-regular: "helvetical";
$font-bold: "helvetical-bold";
$font-medium: "helvetical-medium";

// line-height
$line-height-0: 24px;
$line-height-1: 56px;
$line-height-2: 48px;
$line-height-3: 36px;

// margin
$mg-0: 30px;
$mg-1: 16px;
$mg-2: 2px;
$mg-3: 35px;
$mg-4: 40px;
$mg-5: 8px;
$mg-6: 96px;

// padding
$pd-0: 8px;
$pd-1: 28px;
$pd-2: 16px;
$pd-3: 20px;
$pd-4: 43px;
$pd-5: 190px;
$pd-6: 55px;
$pd-7: 36px;
$pd-8: 72px;
$pd-9: 96px;
$pd-10: 64px;
$pd-11: 145px;


// border-radius
$border-radius-0: 3px;
$border-radius-1: 40px;
$border-radius-2: 54px;

// breakpoints
$breakpoints: (
    'screen-0': 1160px,
    'screen-1': 900px,
    'screen-2': 600px,
    'extra-large': 1199.98px,
    'large': 991.98px,
    'medium': 767.98px,
    'small': 575.98px
);

// size
$arrow-width: 20px;
$margin-top-arrow: -4px;