.owl-carousel {
    .item {
        cursor: pointer;
        .carousel-img {
            img {
                transition: opacity .3s ease-in-out;
                width: 100%;
            }
            &:hover {
                img {
                    opacity: .85;
                }
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: $pd-2;
            color: $color-white-light;
            p {
                font-size: $fs-0 - 2;
                margin-bottom: 0;
            }
            h3 {
                font-family: $font-medium;
                font-size: $fs-3;
                line-height: $fs-3 - 2;
            }
        }
    }
    &.owl-theme {
        .owl-nav {
            button {
                position: absolute;
                top: 40%;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: $color-white-light;
                box-shadow: 0 2px 5px 0 $color-gray-5;
                &.owl-next {
                    right: -30px;
                }
    
                &.owl-prev {
                    left: -30px;
                }
                span {
                    font-family: monospace;
                    font-size: $fs-4;
                    line-height: 32px;
                }
                &:hover {
                    background-color: $color-white-light;
                    color: $color-gray-default;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.owl-carousel--card {
    margin: 0 -$mg-1 - 2;
    .owl-carousel {
        &.owl-theme {
            .owl-nav {
                button {
                    &.owl-next {
                        right: -12px;
                    }
                    &.owl-prev {
                        left: -12px;
                    }
                }
            }
        }
    }
}

.vbox-container {
    overflow-y: hidden;
}
.vbox-content {
    iframe.venoframe {
        border-radius: $border-radius-0 + 2;
        background: transparent!important;
    }
}

/* Navbar boostrap */
.navbar-light {
    .navbar-toggler {
        border: none;
        padding-left: 0;
        margin-right: $mg-2 + 2;
        i {
            font-size: $fs-3 + 1;
            color: $color-gray-13;
        }
        &:focus {
            outline: none;
        }
    }
}

@include responsive('screen-0') {
    .navbar-expand-lg {
        .navbar-toggler {
            display: inline-block;
        }
    }
}

// dropdown-menu
.dropdown-li {
    position: relative;
    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: $pd-0 + 2;
        left: unset;
        margin-top: $mg-5;
        box-shadow: 0 0 5px 1px $color-shadow-1;
        border: 1px solid $color-gray-11;
        padding: $pd-2 0;
        max-height: 314px;
        overflow: auto;
        .dropdown-item {
            font-size: $fs-0;
            color: $color-gray-default;
            font-family: $font-regular;
            padding: $pd-0 $pd-10 $pd-0 $pd-2;
            &:hover {
                background-color: $color-gray-10;
            }
        }
        .dropdown-item.active {
            background-color: transparent;
            i {
                color: $color-gray-default;
            }
        }
        i {
            color: transparent;
            font-size: $fs-0 - 2;
            transform: translateY(-1px);
            margin-right: $mg-5 + 2;
        }
    }
}

.text--blue {
    color: $color-blue-4!important;
    font-family: $font-medium!important;
}
.text--green {
    color: $color-green-0!important;
    font-family: $font-medium!important;
}

