@font-face {
    src: url('./../fonts/helveticaneue.ttf');
    font-family: "helvetical";
}

@font-face {
    font-family: "helvetical-light";
    src: url('./../fonts/helveticaneuelight.ttf');
}

@font-face {
    font-family: "helvetical-bold";
    src: url('./../fonts/helveticaneuebold.ttf');
}

@font-face {
    font-family: "helvetical-medium";
    src: url('./../fonts/helveticaneuemedium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $color-white-light;
    color: $color-gray-default;
    font-size: $fs-0;
    line-height: $line-height-0;
    font-family: $font-regular;
}

