// for

$number: 1;

// @for $number from 1 to 13 {
//     .col-#{$number} {
//         width: 100% * $number / 12;
//     }
// }

// @for $var from start through end {
    
// }

// @while condition {
    
// }

// each
// $icon:('book':'\f2b9', 'card':'\f2bb');

// @each $name, $code in $icon {
//     .icon-#{$name}:before {
//         content: $code;
//     }
// }

// $sizes: 40px, 50px, 80px;
// @each $size in $sizes {
//     .icon-#{$size} {
//         font-size: $size;
//     }
// }

// .up {
//     border-width: 50px;
//     border-style: solid;
//     border-color: transparent;
//     border-bottom-color: black;
//     display: inline-block;
// }

@mixin arrow($size, $direction, $color: black) {
    border-width: $size;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == left {
        border-right-color: $color;
    } @else {
        @error "Unknown direction: #{$direction}.";
    }
}

.up {
    @include arrow(20px, up, red);
}

@function parseRem($default, $val) {
    $rem: $val / $default;
    @return #{$rem}rem;
}

h2 {
    font-size: parseRem(16, 32);
}