.darkMode {
    .button--white {
        &:hover {
            @include hoverButton($color-dark-5, $color-dark-0, $color-dark-2);
        }
    }
    
    .button--red {
        &:hover {
            @include hoverButton($color-white-0, $color-red-2, $color-red-2);
        }
    }
    
    .button--dropup {
        @include styleButton($color-dark-5, $color-dark-0, $color-dark-2, $fs-1, $fw-1, $pd-2 + 1, $pd-0);
        &:hover {
            @include hoverButton($color-dark-5, $color-dark-6, $color-dark-2);
        }
    }
}