.darkMode {
    .card {
        background-color: $color-dark-0;
        border: 1px solid $color-dark-2;
        .card-body {           
            .card-title {
                color: $color-dark-5;
            }
            .card-text {
                color: $color-dark-3;
            }
            .card__star {
                span {
                    &:nth-child(2) {
                        color: $color-dark-5;
                    }
                    &:last-child {
                        color: $color-dark-3;
                    }
                }
            }
            .card__price {
                span {
                    &:first-child {
                        color: $color-dark-3;
                    }
                    &:last-child {
                        color: $color-dark-5;
                    }
                }
            }
        }
    }
    .card--feedback {
        background-color: $color-dark-4;
        .card-body {
            .card__name {
                color: $color-dark-5;
            }
        }
    }
}
