.darkMode {
    .jobs {
        background-color: $color-dark-6;
        .jobs__contents {
            .jobs__items{
                h2 {
                    color: $color-dark-5;
                }
            }
            .border-right {
                border-right-color: $color-dark-2!important;
            }
        }
    }
}