.banner {
    .banner__content {
        position: relative;
        background-color: $color-blue-2;
        overflow: hidden;
    }
    .banner__img {
        position: absolute;
        top: -38px;
        width: 100%;
        height: 100%;
        right: 0;
        img {
            width: 100%;
            &.banner__logoDesktop {
                display: inline-block;
            }
            &.banner__logoTablet {
                display: none;
            }
            &.banner__logoMobile {
                display: none;
            }
        }
    }
    .banner__left {
        padding: $pd-7 0 $pd-7 $pd-8;
        max-width: 495px;
        position: relative;
        z-index: 1;
        .banner__logo {
            padding-bottom: $pd-2;
            span:last-child {
                display: inline-block;
                transform: translateY(-$mg-2);
                margin-left: $mg-1 - 4;
                @include styleText($color-white-light, $fs-6 + 1, $font-medium);
            }
        }
        h2.title {
            color: $color-white-light;
            margin-bottom: $mg-5;
        }
        p {
            color: $color-white-light;
            margin-bottom: 0;
            font-family: $font-medium;
            font-size: $fs-0 + 1;
        }
        .button--green {
            margin-top: $pd-1;
            background-color: $color-white-light;
            color: $color-blue-2;
            &:hover {
                background-color: $color-blue-3;
            }
        }
    }

    @include responsive('extra-large') {
        .banner__content {
            overflow: visible;
        }
        .banner__img {
            top: 0;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    @include responsive('screen-1') {
        .banner__content {
            height: auto;
        }
        .banner__img {
            position: static;
            height: auto;
            margin-top: -30%;
            img {
                height: auto;
                &.banner__logoDesktop {
                    display: none;
                }
                &.banner__logoTablet {
                    display: inline-block;
                }
                &.banner__logoMobile {
                    display: none;
                }
            }
        }
        .banner__left {
            padding-left: $pd-7;
            max-width: 450px;
        }
    }
    @include responsive('screen-2') {
        .banner__img {
            margin-top: -45%;
            img {
                &.banner__logoDesktop {
                    display: none;
                }
                &.banner__logoTablet {
                    display: none;
                }
                &.banner__logoMobile {
                    display: inline-block;
                }
            }
        }
        .banner__left {
            padding-right: $pd-7;
        }
    }
}