.myCarousel {
    height: 680px;
    .myCarousel__img {
        width: 100%;
        height: 111%;
        object-fit: cover;
        object-position: center;
    }
    .carousel-caption {
        right: $mg-4;
        bottom: $mg-3;
        .myCarousel__item {
            text-align: left;
            position: absolute;
            bottom: 0;
            right: 0;
            .myCarousel__name {
                font-family: $font-light;
                letter-spacing: 1px;
            }
            .myCarousel__job {
                font-family: $font-medium;
                letter-spacing: 1px;
            }
            &.myCarousel__stars::before {
                content: "";
                display: block;
                height: 16px;
                background-image: url("./../images/five_stars.svg");
                background-repeat: no-repeat;
            }
        }
    }
    .myCarousel__form-find {
        position: absolute;
        top: 50%;
        left: 0;
        width: 660px;
        z-index: 2;
        transform: translateY(-50%);
        padding-left: $pd-1 + 2;
        h1 {
            @include styleText($color-white-light, $fs-1, $font-medium);
            line-height: $line-height-1;
            padding-bottom: $pd-3;
            span {
                font-family: "Bodoni Moda", serif;
                font-size: $fs-1 + 5;
                letter-spacing: -1px;
                padding-left: $pd-0;
            }
        }
        .myCarousel__form {
            @include styleForm($fs-2, 0, $line-height-2, $pd-0 + 1, $pd-2 - 1, $pd-4);
            .button--green {
                font-size: $fs-0;
                padding: $pd-2 $pd-1 - 3;
            }
        }
        .input-group-append {
            border: 2px solid transparent;
            box-sizing: border-box;
            margin-top: -2px;
            margin-left: -3px;
        }
        .myCarousel__tagged {
            padding-top: $pd-3 + 4;
            color: $color-white-light;
            span {
                margin-right: $mg-5;
            }
            .button--tagged {
                margin-right: $mg-5;
            }
        }
    }

    @include responsive('screen-0') {
        .myCarousel__form-find {
            max-width: 590px;
            h1 {
                font-size: $fs-4;
                line-height: $line-height-2;
                span {
                    font-size: $fs-4 + 5;
                    padding-left: $pd-0 - 3;
                }
            }
            .myCarousel__tagged {
                white-space: nowrap;
            }
        }
    }

    @include responsive('screen-1') {
        background: $color-green-5;
        height: auto;
        .carousel-inner {
            display: none;
        }
        .myCarousel__form-find {
            position: unset;
            transform: unset;
            max-width: unset;
            width: 100%;
            padding: $pd-9 $pd-9 - 2 $pd-11;
            h1 {
                font-size: $fs-4 + 5;
                line-height: $line-height-2 + 4;
            }
            .myCarousel__tagged {
                display: none;
            }
        }
        .myCarousel__form {
            .input-group {
                display: block;
                .form-control {
                    width: 100%;
                    border-radius: $border-radius-0 + 1;
                    border-color: $color-gray-0;
                    .input-group-append {
                        margin-left: -$mg-2;
                    }
                }
                .button--green {
                    margin-top: $mg-5 + 4;
                    width: 100%;
                    border-radius: $border-radius-0 + 1;
                    text-align: center;
                    padding-bottom: $pd-2 + 2;
                }
            }
        }
    }

    @include responsive('screen-2') {
        .myCarousel__form-find {
            padding: $pd-6 - 6 $pd-3 + 4 $pd-9 + 5;
            h1 {
                font-size: $fs-5 + 2;
                line-height: $line-height-2 - 8;
                span {
                    font-size: $fs-4 - 3;
                }
            }
        }
    }
}
