.explore {
    .title {
        padding-bottom: $pd-4 - 3;
    }
    .explore__content {
        display: flex;
        flex-wrap: wrap;
        .explore__items {
            width: 20%;
            padding: 0 $pd-0 + 2 $pd-1;
            text-align: center;
            font-family: $font-medium;
            a {
                display: inline-block;
                color: $color-gray-8;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                &::after {
                    content: '';
                    display: inline-block;
                    height: 2px;
                    background-color: #c5c6c9;
                    position: absolute;
                    top: 53px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 48px;
                    transition: .3s;
                }
                &:hover {
                    &::after {
                        background-color: #1dbf73;
                        width: 78px;
                    }
                }
            }
            img {
                width: 48px;
                height: 48px;
                margin: 0 auto $mg-1 - 1;
            }
            
        }
    }

    @include responsive('screen-1') {
        .explore__content {
            .explore__items {
                width: 33.33%;
            }
        }
    }

    @include responsive('screen-2') {
        .explore__content {
            .explore__items {
                width: 50%;
                padding-bottom: 0;
            }
        }
    }
}