.feedback {
    .feedback__left {
        img {
            border-radius: $border-radius-0 + 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .feedback__right {
        max-width: 765px;
        padding: 0 $pd-4 + 5 0 $pd-6;
        .feedback__name {
            display: flex;
            align-items: center;
            margin-bottom: $mg-1;
            h5 {
                color: $color-gray-9;
                font-size: $fs-2 + 2;
                border-right: 1px solid $color-gray-9;
                padding-right: $pd-2;
                margin-right: $pd-2 - 3;                
            }
            img {
                height: 36px;
                width: auto;
                transform: translateY(-2px);
            }
        }
        blockquote {
            font-family: "Bodoni Moda", serif;
            color: $color-green-4;
            font-size: $fs-5;
            line-height: $line-height-2 - 4;
            font-weight: 600;
        }
    }

    @include responsive('screen-0') {
        .feedback__right {
            padding-left: $pd-3;
            padding-right: $pd-3;
            .feedback__name {
                display: block;
                h5 {
                    border: none;
                    margin-bottom: $mg-5;
                }
                img {
                    margin-left: -$mg-2 - 2;
                }
            }
            blockquote {
                font-size: $fs-3;
                line-height: $line-height-3;
                letter-spacing: 1px;
            }
        }
    }
    @include responsive('large') {
        .feedback__right {
            max-width: 100%;
            margin-top: $mg-0;
        }
    }
}
