footer {
    border-top: 1px solid $color-gray-11;
    &.section {
        padding-top: $pd-10;
        padding-bottom: $pd-3 + 4;
    }
    .footer__top {
        display: flex;
        border-bottom: 1px solid $color-gray-11;
        padding-bottom: $pd-0 + 2;
        margin-bottom: $pd-0;
        .footer__items {
            width: 25%;
            h2 {
                @include styleText($color-gray-2, $fs-0, $font-bold);
                padding-bottom: $pd-3;
                margin-bottom: 0;
                i {
                    display: none;
                }
            }
            ul {
                li {
                    list-style: none;
                    padding-bottom: $pd-2;
                }
            }
            a {
                color: $color-gray-9;
                transition: text-decoration 2s;
                font-size: $fs-0 + 1;
                span {
                    display: block;
                    color: $color-gray-4;
                    font-size: $fs-0 - 1;
                }
            }
        }
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .footer__left {
            padding-top: $pd-0;
            .footer__copyright {
                margin-left: $pd-3;
                line-height: $pd-3 + 4;
                @include styleText($color-gray-4, $fs-0 - 2, $font-medium);
                display: inline-block;
                transform: translateY(3px);
            }
        }
        .footer__right {
            margin-left: -$mg-1 + 1;
            display: flex;
            padding-top: $pd-2;
            a {
                color: $color-gray-9;
                text-decoration: none;
                display: inline-block;
                width: 24px;
                height: 24px;
                padding: $pd-0;
                border-radius: 50%;
                box-sizing: content-box;
                text-align: center;
                transition: 0.2s;
                &:hover {
                    background-color: $color-gray-12;
                }
            }
            .footer__svg {
                a {
                    width: auto;
                    svg {
                        circle {
                            transition: 0.2s;
                        }
                        path {
                            fill: $color-gray-9;
                            transition: 0.2s;
                        }
                    }
                    &:hover {
                        svg {
                            path {
                                fill: $color-gray-2;
                            }
                        }
                        circle {
                            stroke: $color-gray-12;
                            fill: $color-gray-12;
                        }
                    }
                }
            }
            .footer--button {
                white-space: nowrap;
                a {
                    font-size: $fs-0 - 2;
                    font-family: $font-medium;
                    width: auto;
                    padding: $pd-0 - 2 $pd-0 + 4;
                    border-radius: $border-radius-2;
                    margin-right: $mg-5 + 1;
                    &:hover {
                        color: $color-gray-2;
                    }
                }
            }
            .footer--people {
                a {
                    background-color: transparent;
                    padding: $mg-2;
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            width: 240px;
            justify-content: space-around;
            font-size: $fs-2 + 3;
            margin-right: $pd-3 + 3;
            margin-bottom: 0;
            li {
                list-style: none;
            }
        }
        .footer__buttons {
            display: flex;
        }
    }

    @include responsive("screen-1") {
        .footer__top {
            flex-wrap: wrap;
            .footer__items {
                width: 33.33%;
                margin-bottom: $mg-5 + 4;
            }
        }
    }
    @include responsive("screen-2") {
        &.section {
            padding-top: $pd-1;
        }
        .footer__top {
            flex-direction: column;
            .footer__items {
                width: 100%;
                margin-bottom: 0;

                h2 {
                    position: relative;
                    cursor: pointer;
                    i {
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        transition: 0.5s ease-in-out;
                    }
                    &.active {
                        i {
                            transform: rotate(-180deg);
                        }
                        & + ul {
                            max-height: 1000px;
                        }
                    }
                }
                ul {
                    margin-bottom: 0;
                    overflow-y: hidden;
                    max-height: 0;
                    transition: 0.5s ease-in-out;
                }
            }
        }
        .footer__bottom {
            margin-top: $mg-1 + 4;
            flex-direction: column;
            text-align: center;
            .footer__left {
                .footer__copyright {
                    display: block;
                    margin-left: 0;
                    margin-top: $mg-5 + 2;
                }
            }
            .footer__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: $pd-0 + 2;
            }
            ul {
                margin-right: 0;
                margin-bottom: $mg-5;
            }
        }
    }
}
