.guides {
    .widget__top {
        padding-bottom: $mg-2;
    }
    .guides__content {
        img {
            margin-bottom: $mg-1;
        }
        a {
            text-decoration: none;
            display: block;
            &.guides__title {
                @include styleText($color-gray-2, $fs-0 + 2, $font-bold);
                padding-bottom: $pd-0 - 2;
            }
            &.guides__text {
                color: $color-gray-9;
            }
        }
    }
    @include responsive('large') {
        .guides__content {
            .guides__items {
                margin-bottom: $mg-0;
            }
        }
        .seeMoreTablet {
            margin-top: 0;
            margin-bottom: $mg-3;
            transform: translateY(-$mg-2);
        }
    }
}