header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    background-color: white;
    transition: 0.5s ease;
    .myNavBar {
        height: 80px;
    }
    .myNavBar__left {
        align-items: center;
        flex-grow: 1;
        .navbar-brand {
            margin-top: -4px;
            margin-right: 30px;
            svg {
                path {
                    transition: .2s ease;
                }
            }
        }
        .myNavBar__form {
            @include styleForm;
        }
    }

    .myNavBar__right {
        margin-left: $mg-1;
        flex-grow: 4;
        font-family: $font-bold;
        .nav-item {
            padding: 0 $pd-0 + 2;
            white-space: nowrap;
            &:last-child {
                padding-right: 0;
            }
            .nav-link {
                padding: 0;
                color: $color-gray-default;
                transition: color .2s;
                &:hover {
                    color: $color-green-0;
                    svg {
                        path {
                            fill: $color-green-0;
                        }
                    }
                }
                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: $mg-2;
                    path {
                        transition: .2s;
                        fill: $color-gray-default;
                    }
                }
            }
        }
    }

    .header__bottom {
        position: fixed;
        z-index: 15;
        background-color: $color-white-light;
        border-top: 1px solid $color-gray-0;
        border-bottom: 1px solid $color-gray-0;
        width: 100%;
        padding: 0 $pd-1 + 2;
        transform: rotateX(90deg);
        transform-origin: 50% 50%;
        opacity: 0;
        visibility: hidden;
        > ul {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            min-width: 1223px;
            justify-content: space-between;
            position: relative;
            left: 0;
            transition: left 0.2s;
            li {
                list-style: none;
                display: block;
                position: relative;
                a {
                    display: block;
                    color: $color-gray-9;
                    text-decoration: none;
                    padding: $pd-0 + 1 0 $pd-0 - 3;
                    border-bottom: 3px solid transparent;
                    font-family: $font-medium;
                    font-size: $fs-0;
                    &:hover {
                        color: $color-gray-9;
                        border-color: $color-green-0;
                    }
                    span {
                        color: $color-pink;
                        font-size: $fs-0 - 5;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 0 $pd-0 - 2;
                        line-height: 150%;
                        border: 1px solid $color-pink;
                        border-radius: 10px;
                        margin-left: $mg-2;
                    }
                }
                &.active {
                    a {
                        color: $color-gray-default;
                    }
                }
            }
        }
        > ul li .header__bottom__dropdown {
            position: absolute;
            top: 100%;
            right: $pd-2 * (-1);
            background-color: $color-white-light;
            column-count: 2;
            column-gap: $pd-8;
            padding: $pd-3 $pd-7 - 4;
            box-shadow: 0 0 5px 1px $color-shadow-1;
            border: 1px solid $color-gray-11;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s;
            a:hover {
                color: $color-gray-1;
                border-color: transparent;
            }
            li {
                width: 250px;
            }
        }
        > ul > li:hover .header__bottom__dropdown {
            visibility: visible;
            opacity: 1;
        }
        &.header__bottom-visible {
            animation: 0.3s rotateDiv forwards;
        }
        button {
            position: absolute;
            top: 0;
            height: 100%;
            border: none;
            padding: 0 $pd-1 + 2;
            color: $color-gray-1;
            font-size: $fs-0;
            cursor: pointer;
            outline: none;
            visibility: hidden;
            opacity: 0;
            &.button-prev {
                left: 0;
                background: linear-gradient(to right, $color-white-light 70%, transparent 100%);
                
            }
            &.button-next {
                right: 0;
                background: linear-gradient(to left, $color-white-light 70%, transparent 100%);
            }
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    #dropdown-menu-explore {
        position: relative;
        > div {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 490px;
            padding: $pd-3;
            transform: translate(-50%, 20px);
            box-shadow: 0 0 5px 1px $color-shadow-1;
            border: 1px solid $color-gray-11;
            &::before {
                content: '';
                display: block;
                width: $arrow-width;
                height: $arrow-width;
                background-color: $color-white-light;
                position: absolute;
                top: 0;
                left: 50%;
                transform: rotate(45deg) translateX(-50%);
                margin-top: $margin-top-arrow;
                border-top: 1px solid $color-gray-11;
                border-left: 1px solid $color-gray-11;
            }
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    padding-right: $pd-2;
                    a {
                        font-size: $fs-0;
                        font-family: $font-light;
                    }
                    a:hover {
                        text-decoration: none;
                        div, p {
                            color: $color-green-0;
                        }
                    }
                    div {
                        color: $color-gray-default;
                        font-size: $fs-0 + 1;
                    }
                    p {
                        white-space: pre-wrap;
                        color: $color-gray-4;
                    }
                }
                li:nth-child(2n + 2) {
                    padding-right: 0;
                    padding-left: $pd-2;
                }
            }
        }
    }

    @media screen and (min-width: 600.02px) {
        &.header--bgTransparent {
            background-color: transparent;
            .myNavBar__left {
                .navbar-brand {
                    svg {
                        g:first-child {
                            path {
                                fill: $color-white-light;
                            }
                        }
                    }
                }
                .navbar-toggler {
                    i {
                        color: $color-white-light;
                    }
                }
            }
            .myNavBar__right {
                .nav-item {
                    .nav-link {
                        color: $color-white-light;
                        svg {
                            path {
                                fill: $color-white-light;
                            }
                        }
                    }
                }
                .button--white {
                    border-color: $color-white-light;
                    color: white;
                    &:hover {
                        border-color: $color-green-1;
                    }
                }
            }
        }
        &.header--formHidden {
            .myNavBar__form {
                display: none;
            }
        }
    }

    @include responsive('screen-0') {
        .myNavBar__left {
            .myNavBar__form {
                .input-group {
                    input {
                        border: 1px solid $color-gray-0;
                        border-radius: $border-radius-0;
                        &:focus {
                            border: 1px solid $color-gray-1;
                        }
                    }
                }
                .input-group-append {
                    display: none;
                }
            }
        }
        .myNavBar__right {
            .nav-item {
                &.myNavBar__english, &.myNavBar__money {
                    display: none;
                }
            }
        }
    }
    @include responsive('screen-1') {
        .myNavBar__right {
            .nav-item {
                display: none;
                &.myNavBar__signIn, &.myNavBar__join {
                    display: inline-block;
                }
            }
        }
    }
    @include responsive('screen-2') {
        position: static;
        .myNavBar__left {
            .myNavBar__form {
                display: none;
            }
            .navbar-brand {
                position: absolute;
                width: 100%;
                text-align: center;
                transform: translateX(-$mg-1 - 1);
            }
            .navbar-toggler {
                position: relative;
                z-index: 16;
            }
        }
        .myNavBar__right {
            .nav-item {
                &.myNavBar__signIn {
                    display: none;
                }
            }
            .button--white {
                border: none;
                background-color: transparent;
                color: $color-gray-default;
                font-size: $fs-0;
                font-family: $font-medium;
                padding: 0;
                &:hover {
                    background-color: transparent;
                    color: $color-gray-1;
                }
            }
        }
        .header__bottom {
            display: none;
        }
    }

    @keyframes rotateDiv {
        0% {
            transform: rotateX(90deg);
            opacity: 0;
            visibility: hidden;
        }
        100% {
            transform: rotateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
}
