.info {
    background-color: $color-green-3;
    .info__content {
        .info__left {
            padding-right: 9vw;
            .info__items {
                margin-bottom: $pd-3 + 4;
                h3 {
                    @include styleText($color-gray-2, $fs-0 + 2, $font-bold);
                    i {
                        display: inline-block;
                        color: $color-gray-7;
                        border: 2px solid $color-gray-7;
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                        font-size: 12px;
                        text-align: center;
                        line-height: 21px;
                        margin-right: $mg-5;
                        margin-top: -$mg-2;
                    }
                }
                p {
                    font-size: $fs-2;
                    line-height: $line-height-0 + 2;
                }
            }
        }
        .info__right {
            padding-left: 0;
            .info__video {
                position: relative;
            }
        }
    }
    @include responsive('screen-0') {
        .info__content {
            .info__left {
                padding-right: $pd-9 - 10;
            }
        }
    }
    @include responsive('large') {
        .info__content {
            .info__left {
                padding-right: 0;
                padding-bottom: $pd-3;
            }
            .info__right {
                padding-left: $pd-2 - 1;
                img {
                    width: 100%;
                }
            }
        }
    }
}
