.modal {
	padding-right: 0!important;
	.modal-dialog {
		max-width: 430px;
		top: 50%;
	    transform: translateY(-50%)!important;
	    margin: auto;
	}
	.modal-content {
		padding: 0;
		border: none;
	}
	.modal-header {
		border: none;
		align-items: center;
	}
	.modal-title {
		color: $color-gray-2;
		font-family: $font-bold;
		font-size: $fs-2 + 2;
		padding: $pd-2 - 4 $pd-3;
	}
	.close {
		padding-right: $pd-7;
	}
	.modal-body {
		padding: 0 0 $pd-3;
		max-height: 430px;
		overflow-y: auto;
		a {
			display: block;
			color: $color-gray-default;
			text-decoration: none;
			padding: $pd-0 $pd-4 - 5;
			font-size: $fs-0 + 1;
			i {
				opacity: 0;
				margin-right: $mg-1 - 2;
				font-size: $fs-0 - 3;
			}
		}
		a.active i {
			opacity: 1;
		}
		a:hover {
			background-color: $color-gray-10;
		}
	}
	@media screen and (max-width: 600px) {
		.modal-dialog {
			max-width: 100%;
			height: 100%;
			background-color: $color-white-light;
		}
	}
}