.partners {
    background-color: $color-gray-3;
    .partners__content {
        width: 850px;
        height: 95px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            flex-grow: 2;
        }
        .partners__title {
            flex-grow: 1;
            color: $color-gray-4;
            font-family: $font-bold;
        }

    }

    @include responsive('screen-0') {
        .partners__content {
            width: 720px;
            .partners__title {
                display: none;
            }
        }
    }

    @include responsive('screen-1') {
        .partners__content {
            width: unset;
            max-width: 460px;
            height: 70px;
            justify-content: center;
            span {
                padding: 0 $pd-0 + 4;
            }
            img {
                max-width: 100%;
            }
        }
    }

    @include responsive('screen-2') {
        .partners__content {
            max-width: 320px;
            span {
                padding: 0 $pd-0;
                &.partners__paypal {
                    display: none;
                }
            }
        }
    }
}