#sidebarMenu {
    width: 272px;
    position: fixed;
    top: 0;
    left: -272px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    &.active {
        left: 0;
    }
    // left: 0;
}

.overlaySideBar {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.active {
        display: block;
        opacity: 1;
    }
}

// customize slidebarMenu CSS
#sidebarMenu {
    a {
        color: $color-gray-1;
        text-decoration: none;
        font-family: $font-regular;
        padding: $pd-0 $pd-3;
        display: block;
    }
    > a:nth-child(2):hover {
        color: $color-gray-default;
    }

    .slidebar__item-level-1, .slidebar__item-level-2 {
        padding-top: $pd-0;
        > a {
            padding: 0;
            margin-bottom: $pd-0;
        }
        span {
            padding: 0 $pd-3;
            flex-grow: 1;
        }
        i {
            padding:0 $pd-3;
            transition: transform 0.2s;
        }
        > div {
            margin-left: $mg-1;
        }
    }
    
    .collapse-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .collapse-arrow-rotate i.fa-angle-down {
        transform: rotate(-180deg);
    }
    h5 {
        color: $color-gray-2;
        padding: $pd-1 $pd-3 0;
        margin-bottom: 0;
    }
    hr {
        margin-bottom: $mg-5;
        margin-left: $pd-3;
        margin-right: $pd-3;
    }
    .sidebarMenu__button {
        padding: $pd-3 $pd-3 0;
        .button--green {
            font-size: $fs-0;
            padding: $pd-0 $pd-1;
            &:hover {
                color: $color-white-light;
            }
        }
    }
    .sliderbar__item-title {
        flex-grow: 1;
        margin-bottom: 0;
        padding-left: $pd-3;
    }
    .collapse--general {
        a {
            padding-left: $pd-0 - 2;
            i {
                padding-left: 0;
                padding-right: $pd-0 + 4;
                font-size: $fs-0 - 2;
                opacity: 0;
            }
            &.active i {
                opacity: 1;
            }
        }
    }
}