.signUp {
    margin: 0 33px;
    background: url("./../images/bg-signup.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: $border-radius-0 + 1;
    margin-bottom: $mg-6;
    .signUp__content {
        max-width: 650px;
        padding: $pd-1 - 4 $pd-9;
        box-sizing: content-box;
        h2.title {
            color: $color-white-light;
            font-size: $fs-1 - 2;
            line-height: $line-height-1 + 2;
            margin-bottom: 0;
        }
    }
    @include responsive("screen-0") {
        background-position: initial;
        .signUp__content {
            padding: $pd-1 - 4 $pd-0 + 2;
            h2.title {
                font-size: $fs-4;
                line-height: $line-height-2;
            }
        }
    }
    @include responsive("screen-1") {
        background: $color-brown-0;
    }
    @include responsive("screen-2") {
        .signUp__content {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: $pd-3;
            h2.title {
                font-size: $fs-5 + 2;
                line-height: $line-height-3 + 4;
            }
        }
    }
}
