.solution {
    background-color: $color-blue-0;
    color: $color-white-light;
    .solution__logo {
        padding-bottom: $pd-1 + 4;
        span {
            &:first-child {
                margin-right: $mg-5;
                svg {
                    width: 180px;
                }
            }
            &:last-child {
                display: inline-block;
                padding: 3px 7px 4px;
                background-color: #584aff;
                border-radius: 9px;
                line-height: 100%;
                text-transform: uppercase;
                @include styleText($color-white-light, $fs-6, $font-medium);
            }
        }
    }
    h2.title {
        color: $color-white-light;
        max-width: 450px;
    }
    .detail {
        max-width: 450px;
        font-size: $fs-2;
        line-height: $line-height-0 + 2;
        margin-bottom: $mg-0 + 2;
    }
    .solution__content {
        max-width: 500px;
        i {
            float: left;
            display: inline-block;
            color: $color-gray-7;
            border: 2px solid $color-gray-7;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
            line-height: 21px;
            margin-right: $mg-5 + 2;
            margin-top: $mg-2;
        }
        p {
            font-size: $fs-2 - 1;
            overflow: hidden;
        }
    }
    .solution__left {
        padding-right: $pd-10;
    }
    
    @include responsive('large') {
        .solution__left {
            padding-right: 0;
            padding-bottom: $pd-6;
        }
        h2.title, .detail, .solution__content {
            max-width: unset;
        }
    }

    @include responsive('screen-2') {
        .solution__left {
            padding-bottom: $pd-7;
        }
    }
}
