.courses {
    margin: $mg-1 0;
    .courses__content {
        width: 90%;
        margin: auto;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .courses__left {
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            h2 {
                @include styleText($color-black-0, $fs-3 + 1, $fw-0);
            }
        }
        #myCoursesTab {
            margin-bottom: $mg-1;
            .nav-link {
                @include styleText($color-black-0, $fs-0, $fw-0);
                &:hover {
                    border: 1px solid transparent;
                    color: $color-blue-0;
                }
                &.active {
                    border: none;
                    border-bottom: 5px solid $color-blue-0;
                    &:hover {
                        color: $color-black-0;
                    }
                }
            }
        }
    }
    @include responsive("screen-1") {
        .courses__content {
            .card {
                .card-body {
                    .card-title {
                        font-size: $fs-1;
                        margin-bottom: $mg-0 + 5;
                    }
                }
            }
        }
    }
    @include responsive("medium") {
        .courses__content {
            .courses__left {
                padding: $pd-3;
                & + div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
