footer {
    @include styleText($color-gray-0, $fs-1, $fw-0);
    .footer__top {
        width: 90%;
        margin: $mg-4 auto;
        ul {
            height: 110px; // display: flex; flex-direction: column;
            .nav-item {
                flex-basis: 25%; // height = 25% parent selector
                .nav-link {
                    color: $color-blue-0;
                    padding-top: 0;
                    padding-left: 0;
                    &.bold {
                        font-weight: $fw-2;
                    }
                }
            }
        }
        .btn-group {
            .button--dropup {
                padding-right: 38px;
                box-shadow: none;
                i {
                    padding: 0 $pd-2;
                }
                &::after {
                    margin-left: 30%;
                }
            }
            .dropdown-menu {
                font-size: $fs-1;
            }
        }
    }
    .footer__bottom {
        width: 90%;
        margin: $mg-3 - 2 auto;
        img {
            width: 110px;
            margin-right: $mg-0 + 5;
            &.logo-black {
                display: inline-block;
            }
            &.logo-white {
                display: none;
            }
        }
        .nav-link {
            @include styleText($color-black-0, $fs-1, $fw-0);
        }
    }
}