.myNavBar {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    .myNavBar__col {
        padding-left: 0;
    }
    .myNavBar__left {
        display: flex;
        align-items: center;

        .navbar-brand {
            flex-grow: 1;
            text-align: center;
            margin-right: 0;
            img {
                width: 110px;
                &.logo-black {
                    display: inline-block;
                }
                &.logo-white {
                    display: none;
                }
            }
        }
        .myNavBar__categories {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            @include styleText($color-black-light, $fs-1, $fw-0);
            i {
                color: $color-gray-3;
            }
        }
        .myNavBar__form-search {
            flex-grow: 8;

            @include styleFormSearch($color-white-cream, $color-white-0, $color-gray-4);
        }
    }
    .myNarBar__right {
        .button {
            white-space: nowrap;
            &.button--white {
                margin-right: $mg-0;
            }
        }
        .navbar-nav {
            justify-content: space-between;
            align-items: center;
            .nav-item {
                padding: $pd-2 $pd-2 - 1;
                border-radius: $border-radius + 1;
                position: relative;
                .nav-link {
                    @include styleText($color-black-light, $fs-1, $fw-0);
                }
                &:hover {
                    background-color: $color-gray-1;
                    .overlay {
                        visibility: visible;
                    }
                }
                &:last-child:hover {
                    background-color: transparent;
                }
                .overlay {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 1;
                    display: block;
                    background-color: $color-white-0;
                    width: 330px;
                    padding: $pd-3;
                    text-align: center;
                    margin-top: 10px;
                    border-top: 1px solid $color-gray-1;
                    box-shadow: 0 4px 16px $color-gray-5;
                    visibility: hidden;
                    white-space: normal;

                    &:before {
                        content: "";
                        width: 15px;
                        height: 15px;
                        background-color: $color-white-0;
                        transform: rotate(45deg);
                        display: block;
                        border-top: 1px solid $color-gray-1;
                        border-left: 1px solid $color-gray-1;
                        position: absolute;
                        top: -8.5px;
                        right: 10%;
                    }
                }
            }
            .myNavbar__cart {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                line-height: 25px;
                .nav-link {
                    font-size: $fs-3 + 2;
                    text-align: center;
                    margin-left: -$mg-0 + 1;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1355px) {
        .myNarBar__right {
            .navbar-nav {
                .nav-item {
                    white-space: nowrap;
                    &:first-child,
                    &:nth-child(2) {
                        .nav-link {
                            font-size: $fs-1 - 1;
                        }
                    }
                }
            }
        }
        .myNavBar--reset {
            padding-left: 0;
        }
    }

    // max-width: 1200px
    @include responsive("extra-large") {
        .myNarBar__right {
            .navbar-nav {
                justify-content: space-around;
                .nav-item {
                    &:first-child,
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }

    @include responsive('medium') {
        .myNavBar__left {
            .myNavBar__categories, .myNavBar__form-search {
                display: none;
            }
        }
        .myNarBar__right {
            width: 50%;
            margin-left: auto;
            .navbar-nav {
                .button {
                    display: none;
                }
            }
        }
    }
}
