.jobs {
    background-color: $color-gray-6;
    text-align: center;
    .row {
        padding: $pd-0 0;
    }
    .jobs__items {
        max-width: 450px;
        margin: 0 auto;
        padding: $pd-3;
        h2 {
            @include styleText($color-black-light, $fs-3 + 1, $fw-1);
        }
    }
    @include responsive("medium") {
        .border-right {
            border: none!important;
        }
    }
}