.button--green {
    display: inline-block;
    background-color: $color-green-0;
    color: $color-white-light;
    padding: $pd-0 + 2 $pd-2;
    font-family: $font-bold;
    font-size: $fs-0 - 2;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: $color-green-1;
    }
}

.button--section {
    border: none;
    border-radius: $border-radius-0;
    outline: none;
    padding: $pd-0 + 1 $pd-1 - 3 $pd-0 + 2;
    font-size: $fs-0;
    margin-top: $mg-4;
}

.button--white {
    background-color: transparent;
    border: 1px solid $color-green-0;
    color: $color-green-0;
    padding: $pd-0 - 2 $pd-3 $pd-0;
    line-height: 100%;
    font-family: $font-bold;
    font-size: $fs-0 - 2;
    transition: 0.2s ease;
    border-radius: $border-radius-0 + 1;
    &:hover {
        background-color: $color-green-1;
        color: $color-white-light;
        border-color: $color-green-1;
    }
    &:focus {
        outline: none;
    }
}

.button--tagged {
    background-color: transparent;
    border: 1px solid $color-white-light;
    color: $color-white-light;
    padding: $pd-0 - 4 $pd-2 - 4 $pd-0 - 2;
    line-height: $line-height-0;
    font-family: $font-medium;
    font-size: $fs-0 - 2;
    transition: 0.2s ease;
    border-radius: $border-radius-1;
    &:hover {
        background-color: $color-white-light;
        color: $color-gray-2;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

.button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: $color-gray-6;
    color: white;
    i {
        font-size: 30px;
        line-height: 80px;
        margin-left: 2px;
    }
}
