.card {
    border: none;
    padding: 0 $pd-2 + 2 $pd-0;
    background: transparent;
    & > div {
        box-shadow: 0 0.14px 2.29266px $color-shadow-0, 0 0.37px 4.42626px $color-shadow-1, 0 3px 7px $color-shadow-2;
    }
    .card-img-top {
        height: 237px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            opacity: 0.85;
        }
    }
    .card-body {
        display: flex;
        padding: $pd-2 0 $pd-0 + 4 $pd-2;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
        .card--text {
            padding-left: $pd-0 + 4;
            h3 {
                @include styleText($color-gray-2, $fs-0 - 2, $font-bold);
                line-height: 110%;
                margin-bottom: $mg-5;
                cursor: pointer;
            }
            p {
                @include styleText($color-gray-1, $fs-0 - 2, $font-medium);
                margin-bottom: 0;
                line-height: 100%;
                cursor: pointer;
            }
        }
    }
}