h2.title {
    @include styleText($color-gray-2, $fs-5 + 2, $font-bold);
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: $pd-3 + 4;
    span {
        font-family: "Bodoni Moda", serif;
        font-weight: 700;
    }
}