.widget__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: $pd-1 - 4;
    a {
        white-space: nowrap;
        text-decoration: none;
        color: $color-blue-2;
        font-size: $fs-0 + 1;
        transform: translateY(12px);
        i {
            font-size: $fs-0 - 2;
            margin-left: $mg-5 - 2;
        }
    }
}

a.seeMoreTablet {
    margin-top: $mg-5;
    text-decoration: none;
    color: $color-blue-2;
    font-size: $fs-0 + 1;
    transform: translateY(12px);
    i {
        font-size: $fs-0 - 2;
        margin-left: $mg-5 - 2;
    }
}

.seeMoreDesktop {
    display: inline-block;
}
.seeMoreTablet {
    display: none;
}
@include responsive('screen-1') {
    .seeMoreDesktop {
        display: none;
    }
    .seeMoreTablet {
        display: inline-block;
    }
}
